<% @title= h(@current_circle.name) +' Dashboard' %>
<%= stylesheet_link_tag 'dashboard' %>

<%= render(:partial => 'sub_nav') %>

<% for currency_account in @currency_accounts 
  currency = currency_account.currency
%>
  <div class="dashboard_item" id="dashboard_<%= currency.name_as_html_id%>" title="<%=h currency.description%>">
    <p class="dashboard_title">
      <%= render_currency_icon(currency) %> <%= link_to currency.name, play_currency_account_url(currency_account) %><% if !currency.symbol.blank? %>&nbsp;(<%=currency_account.currency.symbol%>)<%end%>
    </p>
    <div class="dashboard_explanation">
      <%= currency_account.render_state %><br />
      <%= link_to 'History', history_currency_account_url(currency_account) %>
    </div>
  </div>
<% end %>
