<% @title= h(@current_circle.name) +' Dashboard--Currencies' %>
<%= stylesheet_link_tag 'dashboard' %>

<%= render(:partial => 'sub_nav') %>
<%if Configuration.get(:single_circle) == 'on'%>
<span style="background-color:#f7a;padding: 2px;border: solid 2px"><%= sub_nav_link 'Create Currency',new_currency_path,'Create Currencies'%></p>

<% end %>
<% for currency_account in @currency_accounts 
  currency = currency_account.currency
  play_names = currency.api_play_names(currency_account.player_class)
  play_name = play_names[0]
%>
  <% if play_name %>
  <div class="dashboard_item" id="dashboard_<%= currency.name_as_html_id%>_<%=currency_account.player_class%>" title="<%=h currency.description%>">

    <div class="ditem_left">
      <p class="dashboard_title">
        <%= render_currency_icon(currency) %>
        <%= link_to currency.name, settings_currency_account_path(currency_account) %><% if !currency.symbol.blank? && currency.symbol != currency.name %> <%=currency_account.currency.symbol%><%end%>
        <%if currency_account.player_class != 'member'%>
         (<%= currency_account.player_class%> role)
        <% end %>
      </p>
      <div class="dashboard_explanation">
        <%= currency_account.render_state %><br />
        <%= link_to 'History', play_history_path(currency_account,play_name) %>
      </div>
    </div>

    <div class="ditem_right">
      <div class="dashboard_play">
        <%= render(:partial => 'play_buttons', :object => currency_account) %>
      </div>
    </div>

    <div class="ditem_middle">
      <div class="dashboard_description"><%=h currency.description%></div>
    </div>
    
  </div>
  <% end %>
<% end %>
