<% @title= h(@current_circle.name) +' Dashboard--Activity' %>
<%= stylesheet_link_tag 'dashboard' %>

<%= render(:partial => 'sub_nav') %>

<% if @activities.empty? %>
You have no activity in this circle.
<% else %>
<div id="activity">
  <h3>Recent Activity</h3>
  <table>
    <tr>
      <th>Date</th>
      <th>Currency</th>
      <th>Play</th>
    </tr>
  
<% for activity in @activities
  currency = activity.activityable
  sentence = humanize_play_activity(activity)
%>
  <tr>
    <td><%= standard_date_time(activity.created_at) %></td>
    <td><%= currency.name %></td>
    <td><%=h sentence%></td>
  </tr>
<% end %>
  </table>
</div>
<%end%>

