<% @title='My Currencies '+@currency.name+' History' %>
<h3>My Currencies: <%=@currency.name%></h3>

Current State: <%= @currency.api_render_player_state(@currency_account)%>
<br />
<h4> History </h4>
<% if @plays.empty? %>
You have made no plays in this currency as a <%= @currency_account.player_class%>.
<% else %>
<table>
  <tr>
    <th>Date</th>
    <% for play_field in @play_fields %>
    <th><%= play_field.capitalize %></th>
    <% end %>
  </tr>

<% for play in @plays
  play_data = @currency.api_parse_play(play.content)
%>
  <tr>
    <td><%= standard_date_time(play.created_at)%>
    <% for play_field in @play_fields %>
    <td><%= play_data[play_field] %></td>
    <% end %>
  </tr>
<% end %>
</table>
<% end %>

