<% @title='My Currencies '+@currency.name+' History' %>
<%= render(:partial => 'sub_nav') %>

<%= @is_history = true;render(:partial => 'play_tabs') %>

<% if @plays.empty? %>
You have made no '<%= @play_name%>' plays in this currency.
<% else %>
<table id="plays">
  <tr>
    <th>Date</th>
    <% for play_field in @play_fields %>
    <th><%= play_field.capitalize %></th>
    <% end %>
  </tr>

<% for play in @plays
  play_data = get_play_data_for_display(@currency,play,@play_name)
%>
  <tr>
    <td><%= standard_date_time(play['__meta']['timestamp'])%>
    <% for play_field in @play_fields %>
    <td><%= play_data[play_field] %></td>
    <% end %>
  </tr>
<% end %>
</table>
<% end %>

