<% @title='Join Currency' %>
<%= render(:partial => 'sub_nav') %>

<% if @joinable_currencies.empty?%>
  There are no currencies you can join
<% else %>
  <% form_for :currency_account, :url => '/my_currencies/join' do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :currency_id %>
      <%= f.select(:currency_id, currencies_list_for_select(@joinable_currencies),
        {:include_blank => @currency_account.new_record?},
        :onchange => %Q|new Ajax.Updater('currency_account_player_class', '/currencies/'+$F('currency_account_currency_id')+'/player_classes', {asynchronous:true, method:'get'})|
      ) %>
    </p>

    <% if current_user.has_preference('multi_wallet') && current_user.wallets.size > 0 %>
    <p>
      <%= f.label :name, 'Wallet:' %>
      <%= f.select(:name, wallet_list_for_select(current_user)) %>
    </p>
    <% end %>

    <p>
      <%= f.label :player_class %> 
      <%= f.select(:player_class, @currency.nil? ? [] : @currency.api_player_classes,:selected =>@currency_account.player_class)%>
    </p>

    <p>
      <%= f.submit "Join" %>
    </p>
  <% end %>
<% end %>
