<% @title='My Currencies' 
  @multi_wallet = current_user.has_preference('multi_wallet')
%>
<%= render(:partial => 'sub_nav') %>

<%if @multi_wallet %>
View by: <span style="background: #ddd" title="this will be a pop up later to allow viewing other categories like circles">wallet</span>
<% end %>
<table>
  <tr>
    <th>Currency</th>
    <th>Type</th>
    <th>Role</th>
    <th>Circle</th>
    <th>Summary</th>
    <th>Description</th>
    <th>&nbsp;</th>
  </tr>

<% 

display_type = ''
if @multi_wallet
  @currency_accounts = @currency_accounts.sort {|a,b| a.name+' '+a.currency.name <=> b.name+' '+b.currency.name}
end
i = 0
for currency_account in @currency_accounts 
  i += 1
  dt = currency_account.name
  currency = currency_account.currency
  %>
  <%
    if @multi_wallet && display_type != dt && dt
      i = 1
      display_type = dt %>
      <tr><td colspan=8 style="background: #ddd">WALLET: <%= dt.upcase%></td></tr>
  <%end%>
  <tr class="<%= i%2 == 0 ? ' odd' : ''%>" id="currency_account_<%=currency_account.name_as_html_id%>">

    <td><nobr><%= render_currency_icon(currency,20) %> <%= link_to currency.name, play_currency_account_url(currency_account) %><% if !currency.symbol.blank? %>&nbsp;(<%=currency_account.currency.symbol%>)<%end%></nobr></td>
    <td><nobr><%=h currency.humanized_type %></nobr></td>
    <td><%=h currency_account.player_class %></td>
    <td><%=h humanized_currency_scope(currency) %></td>
    <td><%= currency_account.render_state %></td>
    <td><%=h currency.description %></td>
    <td>
      <%= link_to 'Play', play_currency_account_url(currency_account) %>
      <%= link_to 'History', history_currency_account_url(currency_account) %>
    </td>
  </tr>
<% end %>
</table>
