<% @title='My Currencies' %>
<h3>My Currencies</h3>

<table>
  <tr>
    <th colspan=2>Currency</th>
    <th>Type</th>
    <th>Circle</th>
    <th>Summary</th>
    <th>Description</th>
  </tr>

<% for currency_account in @currency_accounts 
  currency = currency_account.currency
  %>
  <tr id="currency_<%=currency.name_as_html_id%>">
    <td><%= render_currency_icon(currency,20) %></td>
    <td><%= link_to currency.name, play_currency_account_url(currency_account) %> <% if !currency.symbol.blank? %>(<%=currency_account.currency.symbol%>)<%end%> </td>
    <td><%=h currency.humanized_type %></td>
    <td><%=h humanized_currency_scope(currency) %></td>
    <td><%= currency_account.summary %></td>
    <td><%=h currency.description %></td>
    <td><%= link_to 'Leave currency', currency_account, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Join Currency', join_currency_path %>
