<% @title="My Currencies #{@currency.name}: #{@play_name}" %>
<%= render(:partial => 'sub_nav') %>
<h3><%=@currency.name%>: <%=@play_name%></h3>

<%= @currency.api_render_player_state(@currency_account)%>
<div id="make_play">
  <%= render_play_form(@currency,@currency_account,@play_name)%>
</div>