<% @title='Currency Accounts' %>

<p>
  <b>User:</b>
  <%=h @currency_account.user.full_name %>
</p>

<p>
  <b>Name:</b>
  <%=h @currency_account.name %>
</p>

<p>
  <b>Player Class:</b>
  <%=h @currency_account.player_class %>
</p>

<p>
  <b>Currency:</b>
  <%=h @currency_account.currency.name %>
</p>

<p>
  <b>Summary:</b>
  <%=h @currency_account.state %>
</p>


<%= link_to 'Edit', edit_currency_account_path(@currency_account) %> |
<%= link_to 'Back', currency_accounts_path %>
