<%= f.error_messages %>
<%= hidden_field_tag :currency_params_key, @currency.class.to_s.underscore%>
<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :type %><br />
  <%= f.select :type,Currency::Types %>
</p>

<p>
  <%= f.label :global %><br />
  <%= f.check_box :global %>
</p>
<p>
  <%= f.label :circle_id %><br />
  <%= f.select(:circle_id, Circle.find(:all).collect {|p| [ p.name, p.id ] }, {:include_blank => '-none-'})%>
</p>
<p>
  <%= f.label :summary %><br />
  <%= f.text_area :summary %>
</p>