<%= f.error_messages %>
<%= hidden_field_tag :currency_params_key, @currency.class.to_s.underscore%>

<%= javascript_tag <<-EOJS
function do_change(type){
  var types = {#{Currency.types.collect {|c| "#{c}:'#{escape_javascript(c.constantize.new.api_description)}'" }.join(',')}}
  if (types[type] == undefined) {
    return ''
  }
  else {
    return "<fieldset><legend>Currency Description</legend>"+types[type]+"</fieldset>"
  }
}
EOJS
%>
<p>
  <%= f.label :type %> <%= f.select :type,currency_types_list_for_select,{:include_blank => true},{:onchange =>"$('currency_type_descrption').innerHTML = do_change($F('currency_type'))"} %>
</p>

<div id="currency_type_descrption"></div>

<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :description %><br />
  <%= f.text_area :description, :rows => 4, :cols => 70 %>
</p>

<p>
  <%= f.label :icon_url %><br />
  <%= f.text_field :icon_url %>
</p>

<p>
  <%= f.label :symbol %><br />
  <%= f.text_field :symbol %>
</p>

<p>
  <%= f.label :global %><br />
  <%= f.check_box :global %>
</p>
<p>
  <%= f.label :circle_id %><br />
  <%= f.select(:circle_id, Circle.find(:all).collect {|p| [ p.name, p.id ] }, {:include_blank => '-none-'})%>
</p>
