<% @title='Edit Currency' %>
<%= render(:partial => 'sub_nav') %>

<% form_for(@currency,:url=>{ :action => "update" },:method => "put") do |f| %>
  <p>
    <%= f.label :created_by,"Managed By:" %>
    <%= f.select(:created_by, User.find(:all).collect {|p| [ p.full_name, p.id ] }) %>
  </p>
	<%= render(:partial => 'f', :object => f) %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', currencies_path %>
