<% @title='Currencies' %>

<h3>Currencies</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Scope</th>
  </tr>

<% for currency in @currencies %>
  <tr>
    <td><%= render_currency_icon(currency,32) %><%= link_to currency.name, edit_currency_path(currency) %> </td>
    <td><%=h currency.circle ? currency.circle.name : '' %> <%= currency.global ? ' Global' : ''%> </td>
    <td></td>
    <td><%= link_to 'Remove', currency_path(currency), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New currency', new_currency_path %>
