<b>Contact Information:</b><br />

<table>
<tr><td align="left">First name: </td><td><%= form.text_field :first_name %></td></tr>
<tr><td align="left">Last name: </td><td><%= form.text_field :last_name %></td></tr>
<tr><td align="left">E-mail: </td><td><%= form.text_field :email %> (this e-mail will be used to display a <%= link_to 'Gravatar','http://gravatar.com'%>)</td></tr>
<tr><td align="left">Phone: </td><td><%= form.text_field :phone %></td></tr>
<tr><td align="left">Phone 2: </td><td><%= form.text_field :phone2 %></td></tr>
<tr><td align="left">Address 1: </td><td><%= form.text_field :address1 %></td></tr>
<tr><td align="left">Address 2: </td><td><%= form.text_field :address2 %></td></tr>
<tr><td align="left">City: </td><td><%= form.text_field :city %></td></tr>
<tr><td align="left">State: </td><td><%= form.select :state, StateNameOptions %></td></tr>
<tr><td align="left">Zip/Postal Code: </td><td><%= form.text_field :zip %></td></tr>
<tr><td align="left">Country: </td><td><%= form.select :country, country_options_for_select %></td>
</tr>
</table>


<p>
<b>Notes:</b> <br />
<%= form.text_area :notes %>
</p>
<p><label for="time_zone">Time zone:</label><%= form.time_zone_select(:time_zone, ActiveSupport::TimeZone.us_zones,:include_blank => true) %><% if current_user.can?(:admin) %><br />
<span class="smalltext">This user's browser reported the last login time as:  <%= @user.time_local ? @user.time_local : '<i>never logged in</i>' %></span><% end %></p>


<% if current_user.can?(:createAccounts) %>
	<p>
	<% if @user.new_record? || @user.deactivated? %>
	<%= check_box_tag(:activate_account,'1',params[:activate_account]) %>  Activate account
	<% elsif @user.activation_pending? %>
	An activation e-mail was sent to this user. <br />
	<%= check_box_tag(:resend_activation,'1',params[:resend_activation]) %>  Resend activation email
	<% else %>
	<%= check_box_tag(:reset_password,'1',params[:reset_password]) %> Reset password
	<%= check_box_tag(:deactivate_account,'1',params[:deactivate_account]) %> Deactivate account
	<% end %>
	</p>
<%end%>

