<% @title='Preferences' %>
<h3>
<% if @user.id != current_user.id%>
Account and Preferences for <%= @user.full_name %>
<% else %>
Your Account and Your Preferences
<% end %>
</h3>
         
<% form_tag(set_preferences_user_url(@user.id),:method => :put) do -%>

<p>
  <%= [
    ['terse','I know how the site works now.  Hide the long-winded instructions.'],
    ['enlargeFont', 'I don\'t like to squint.  Use a larger font size.'],
    ['multi_account', "I want to be able to use multiple accounts with each currency."]
    ].collect {|p| check_box_tag("prefs[#{p[0]}]", value = 1, checked = @preferences.include?(p[0])) << " " << p[1]}.join("<br />")
  -%>
</p>
<%= submit_tag "Set Preferences" %>
<% end -%>
<p>
<%= link_to 'Review/change your contact information', contact_info_user_url(@user.id)%>
</p>
<p>
<%= link_to 'Change your password', passwords_url%>
</p>

<!--removed this preference: 
  ['boxesClosed','I know the contents of the Yes/No expanding boxes in the data form. Display them closed unless I choose Yes.' ],
-->