<% @title='Signup' %>
<% form_for resource_name, resource, :url => user_registration_path do |f| -%>
  <%= f.error_messages %>
  <div id="registration_content" class="bottom_margin_10">
  <fieldset style="width:600px">
  <legend>Please enter the following information to sign up:</legend>
  <p><%= f.label :user_name,"Account name:"%> <%= f.text_field :user_name %></p>
  <p><%= f.label :first_name,"First name:"%> <%= f.text_field :first_name %></p>
  <p><%= f.label :last_name,"Last name:"%> <%= f.text_field :last_name %></p>
  <span style="float:right;font-size: 80%;width: 300px">An activation key will be sent to this e-mail address, and it will also be used to pick your avatar icon via the <%= link_to 'Gravatar','http://gravatar.com',:target=>'external'%> service.</span>
  <p><%= f.label :email,"E-mail:"%> <%= f.text_field :email %> </p>
  <p><%= f.label :password,"Password:"%> <%= f.password_field :password %></p>
  <p><%= f.label :password_confirmation,"Confirm Password:"%> <%= f.password_field :password_confirmation %></p>
  <p>
    <%= submit_tag "Sign up" %>
  </p>
  </fieldset>
  </div>
<% end -%>
