<ul id="nav">
<% if logged_in? %>
  <li><%= nav_link 'Dashboard', dashboard_path,'Take action'%></li>
  <li ><%= nav_link 'Holoptiview',home_path,"View your wealth stream"%></li>
  <li><%= nav_link 'Intentions', my_intentions_path,'Declare, search, and manage intentions'%></li>
  <li><%= nav_link 'Actions', my_actions_path,'Create, search and manage actions'%></li>
  <li><%= nav_link 'Assets', my_assets_path,'Create, search and manage assets'%></li>
<%end%>
</ul>
