<ul id="nav">
<% if logged_in? %>
  <li><%= nav_link 'Dashboard', dashboard_path,'Take action'%></li>
  <%if Configuration.get(:single_circle) != 'on'%>
  <li ><%= nav_link 'Holoptiview',home_path,"View your wealth stream"%></li>
  <%end%>
  <%if Configuration.get(:wealing_policy) == 'on'%>
  <li><%= nav_link 'Intentions', my_intentions_path,'Declare, search, and manage intentions'%></li>
  <li><%= nav_link 'Actions', my_actions_path,'Create, search and manage actions'%></li>
  <li><%= nav_link 'Assets', my_assets_path,'Create, search and manage assets'%></li>
  <%end%>
  <li><%= nav_link 'Members', members_circles_path,'View the members of the circle', '/circles/members'%></li>
  <% if @current_circle.api_user_isa?(current_user,'namer')%>
  <li><%= nav_link 'Setup', circle_path(@current_circle),'Configure members and currencies in a circle', '/circles/'+@current_circle.id.to_s%></li>
  <% end %>
<%end%>
</ul>
