<div id="sideNav">
<a href="/" title="Go to your dashboard">Dashboard</a>

<% if current_user.can?(:accessAccounts) %>
<hr width="50%" align="left">
<p><a href="<%= users_url %>" title="Add or modify user accounts">Accounts</a></p>
<% end %>

<% if current_user.can?(:admin) %>
<hr width="50%" align="left">
<p><a href="<%= circles_url %>" title="Manage circles">Circles</a></p>
<p><a href="<%= currencies_url %>" title="Manage Currencies">Currencies</a></p>
<% end %>

<hr width="50%" align="left">

<% if logged_in? %>
<p><a href="<%= set_prefs_url %>" title="Choose how the site works for you">Preferences</a></p>

<p><a href="<%= logout_url %>" title="End your session">Log Out</a></p>
<% else %>
<p><a href="<%= login_url %>" title="Log in">Log In</a></p>
<% end %>
</div>