<ul id="nav">
<% if logged_in? %>

  <li><%= nav_link 'Dashboard', '/dashboard?current_circle=','Take action', '/dashboard'%></li>
  <li><%= nav_link 'Circles',circles_path,'Join, create and manage circles'%></li>
  <% if current_user_can?(:admin) %>
  <li><%= nav_link 'Currencies', currencies_path,'Create an manage currencies'%></li>
  <%end%>
  <% if current_user_can?(:accessAccounts) %>
  <li><%= nav_link 'Accounts',users_path,'Add or modify user accounts'%></li>
  <% end %>
  <% if current_user_can?(:admin) %>
  <li><%= nav_link 'Config', configurations_path,"Configure the #{configuration_text(:site_name)}"%></li>
  <%end%>

<%end%>
</ul>
