<% @title='Workspace' %>
<%= stylesheet_link_tag 'home' %>
<div id="hide_me_with_css">
    <p class="errortext">This site requires the use of CSS (cascading style sheets).  Your browser is currently not allowing the use of CSS.  In order to use the MANA Statistics Project web site, you will need to change this setting or disable plug-in software that is blocking style sheets.  For more information, you can contact us at support@manastats.org
</p></div>
<div id="hide_me_with_js">
    <p class="errortext">This site requires the use of Javascript.  Your browser is currently not allowing the use of Javascript.  In order to use the MANA Statistics Project web site, you will need to change this setting in your browser.  For more information, you can contact us at support@manastats.org</p>
    </div>    
<%= javascript_tag "$('hide_me_with_js').hide();" %>

<div id="home_content">
<h3>Dashboard</h3>
Welcome to the flowplace, <%= current_user.first_name %>.
Here are your current options:

<% if current_user.can?(:accessAccounts) %>
  <p class="home_title"><%= link_to 'Accounts', users_url%> </p>
	<% unless current_user.has_preference('terse') %>
		<% if current_user.can?(:admin) %>
	    	<div class="home_explanation">
				Add new accounts, change account privileges, delete accounts, etc.
			</div>	
	    <% else %>
			<div class="home_explanation">
				Look up accounts, update their info, create links between midwives.
			</div>	
	    <% end %>
	<% end %> 
<% end %>

<p class="home_title"><%= link_to 'Place and manage your intentions', intentions_url%></p>
<% unless current_user.has_preference('terse') %>
	<div class="home_explanation">
		This is where you place and manage intentions, blah blah...
	</div>
<% end %> 	

<p class="home_title"><%= link_to 'Manage your account and preferences', set_prefs_url%></p>
<% unless current_user.has_preference('terse') %>
	<div class="home_explanation">
		Review/change your contact information (please keep your e-mail address current!), change your password, or set other preferences for how you use the site.
	</div>
<% end %> 	

<% if current_user.can?(:admin) %>
	<p class="home_title first_focus">Administrator Features</p>
	<ul>
		<li><%= link_to 'Logged-in users',logged_in_users_url %></li>
	</ul>
	<ul>
		<li><%= link_to 'Circles',circles_url %></li>
	</ul>
	<ul>
		<li><%= link_to 'Currencies',currencies_url %></li>
	</ul>
<% end %>

<% if current_user.can?(:dev) %>
	<p class="home_title">Developer Features</p>
	<ul class="ul_with_form">
		<li><%= link_to 'Site Version',version_url()%></li>
	</ul>	
<% end %>

<p class="home_title"><a href="<%= logout_url %>" title="End your session">Log Out</a></p>

</div>


