<% @title='My Wealth Stream' %>
<%= stylesheet_link_tag 'home' %>
<div id="hide_me_with_css">
    <p class="errortext">This site requires the use of CSS (cascading style sheets).  Your browser is currently not allowing the use of CSS.  In order to use the MANA Statistics Project web site, you will need to change this setting or disable plug-in software that is blocking style sheets.  For more information, you can contact us at support@manastats.org
</p></div>
<div id="hide_me_with_js">
    <p class="errortext">This site requires the use of Javascript.  Your browser is currently not allowing the use of Javascript.  In order to use the MANA Statistics Project web site, you will need to change this setting in your browser.  For more information, you can contact us at support@manastats.org</p>
    </div>    
<%= javascript_tag "$('hide_me_with_js').hide();" %>

<div id="activities_box">
	<p class='box_title'>Activities</p>
<% for activity in @activities%>
	<div class='activity clear'>
		<% activity_type = activity.humanize.downcase %>
		<%= image_tag (activity.user.gravatar_url(:size=>32)) %> 
		<%= activity.contents %> <%= %w(a e i o u).include?(activity_type[0..0]) ? 'an' : 'a' %> <%= link_to activity_type,polymorphic_url(activity.activityable) %> 
		<%= time_ago_in_words(activity.created_at) %> ago
	</div>
<%end%>
</div>
Welcome to the flowplace, <%= current_user.first_name %>.



