<% @title='My Wealth Stream' %>
<%= stylesheet_link_tag 'home' %>
<div id="hide_me_with_css">
    <p class="errortext">This site requires the use of CSS (cascading style sheets).  Your browser is currently not allowing the use of CSS.  In order to use the MANA Statistics Project web site, you will need to change this setting or disable plug-in software that is blocking style sheets.  For more information, you can contact us at support@manastats.org
</p></div>
<div id="hide_me_with_js">
    <p class="errortext">This site requires the use of Javascript.  Your browser is currently not allowing the use of Javascript.  In order to use the MANA Statistics Project web site, you will need to change this setting in your browser.  For more information, you can contact us at support@manastats.org</p>
    </div>    
<%= javascript_tag "$('hide_me_with_js').hide();" %>
<%= gravitar_image_tag(@user,:size=>64) %>

<table id='holoptiview'>
<tr>
	<td class='holoptiview_my'>
		<div class="holoptiview_box">
			<p class='holoptiview_box_title'><%=@who%> Wealth</p>
			<%for account in @currency_accounts_my
				currency = Currency.find(account.currency.id)
				%>
				<%=render_currency_icon(currency)%><%= currency.api_render_account_state(account) %>
			<% end %>
		</div>
	</td>
	<td>
		<div class="holoptiview_box">
			<p class='holoptiview_box_title'>HoloptiWealth</p>
			<%for currency in @currencies%>
				<%=render_currency_icon(currency)%><%= currency.api_render_summary %>
			<% end %>
		</div>
	</td>
</tr>
<tr>
	<td class='holoptiview_my'>
		<div class="holoptiview_box">
			<p class='holoptiview_box_title'><%=@who%> Projects</p>
			Projects: <%= @projects_total_my%>
		</div>
	</td>
	<td>
		<div class="holoptiview_box">
			<p class='holoptiview_box_title'>Projects</p>
			Projects: <%= @projects_total%>
		</div>
	</td>
</tr>
<tr>
	<td class='holoptiview_my'>
		<div class="holoptiview_box">
			<p class='holoptiview_box_title'><%=@who%> Intentions</p>
			Proposals: <%= @proposals_total_my%><br />
			<%= link_to('Intentions',intentions_path) %>: <%= @intentions_total_my%>
		</div>
	</td>
	<td>
		<div class="holoptiview_box">
			<p class='holoptiview_box_title'>Intentions</p>
			Proposals: <%= @proposals_total%><br />
			<%= link_to('Intentions',weals_path) %>: <%= @intentions_total%>
		</div>
	</td>
</tr>
<tr>
	<td class='holoptiview_my'>
		<div class="holoptiview_box">
			<%= render(:partial => 'activities', :locals => { :title => "#{@who} Activities", :conditions=> ['user_id=?',@user.id] }) %>
		</div>
	</td>
	<td>
		<div class="holoptiview_box">
			<%= render(:partial => 'activities', :locals => { :title => 'Activities', :conditions=>['user_id!=?',@user.id] }) %>
		</div>
	</td>
</tr>

</table>
