<% @title='My Wealth Stream' %>
<div id="hide_me_with_css">
    <p class="errortext">This site requires the use of CSS (cascading style sheets).  Your browser is currently not allowing the use of CSS.  In order to use the <%= configuration_text(:site_name)%>, you will need to change this setting or disable plug-in software that is blocking style sheets.
</p></div>
<div id="hide_me_with_js">
    <p class="errortext">This site requires the use of Javascript.  Your browser is currently not allowing the use of Javascript.  In order to use the <%= configuration_text(:site_name)%>, you will need to change this setting in your browser.</p>
    </div>    
<%= javascript_tag "$('hide_me_with_js').hide();" %>
<%= gravitar_image_tag(@user,:size=>64) %>
<%if @current_circle.nil?%>
   You aren't a member of any circles...
<% else %>
<table id='holoptiview'>
<tr>
  <td class='holoptiview_my'>
    <div class="holoptiview_box">
      <h3><%=@who%> Wealth in <%=@current_circle.name%></h3>
      <%for account in @currency_accounts_my
        currency = Currency.find(account.currency.id)
        %>
        <p id="account_summary_<%=account.id%>">
        <%=render_currency_icon(currency)%><%= currency.api_render_player_state(account) %></p>
      <% end %>
    </div>
  </td>
  <td>
    <div class="holoptiview_box">
      <h3>HoloptiWealth</h3>
      <%for currency in @currencies%>
        <p id="currency_summary_<%=currency.id%>"><%=render_currency_icon(currency)%><%= currency.api_render_summary %></p>
      <% end %>
    </div>
  </td>
</tr>
<%if Configuration.get(:wealing_policy) == 'on'%>
<tr>
  <td class='holoptiview_my'>
    <div class="holoptiview_box">
      <h3><%=@who%> Actions</h3>
      <%= link_to('Actions',my_actions_path) %>: <%= @actions_total_my%>
    </div>
  </td>
  <td>
    <div class="holoptiview_box">
      <h3>Actions</h3>
      <%= link_to('Actions',actions_path) %>: <%= @actions_total%>
    </div>
  </td>
</tr>
<tr>
  <td class='holoptiview_my'>
    <div class="holoptiview_box">
      <h3><%=@who%> Intentions</h3>
      <%= link_to('Proposals',proposed_intentions_path) %>: <%= @proposals_total_my%><br />
      <%= link_to('Intentions',my_intentions_path) %>: <%= @intentions_total_my%>
    </div>
  </td>
  <td>
    <div class="holoptiview_box">
      <h3>Intentions</h3>
      Proposals: <%= @proposals_total%><br />
      <%= link_to('Intentions',weals_path) %>: <%= @intentions_total%>
    </div>
  </td>
</tr>
<%end%>
<tr>
  <td class='holoptiview_my'>
    <div class="holoptiview_box">
      <%= render(:partial => 'activities', :locals => { :title => "#{@who} Activities", :conditions=> ['user_id=?',@user.id] }) %>
    </div>
  </td>
  <td>
    <div class="holoptiview_box">
      <%= render(:partial => 'activities', :locals => { :title => 'Activities', :conditions=>['user_id!=?',@user.id] }) %>
    </div>
  </td>
</tr>

</table>
<%end%>
