<%
  if party == :requester
    user = @weal.requester
    other_user = @weal.offerer
  else
    user = @weal.offerer
    other_user = @weal.requester
  end
  if user %>
  <p>
    <b><%= party.to_s.capitalize%>:</b>
    <%= render_name(party,@weal) %>
  </p>
<%else
  proposals = @weal.proposals
%>
  <% if proposals
    my_proposal = nil
    proposals = proposals.delete_if {|p| p.user_id == current_user.id ? my_proposal = p : false}
    end
  %>
  <% if other_user != current_user%>
    <%  my_proposal ||= Proposal.new(:as => party.to_s, :user_id => current_user.id, :weal_id => @weal.id)
    form_for(my_proposal) do |f| %>
  
    <b> My proposal to be <%= party.to_s %>: </b>
    <%if !my_proposal.new_record?%>
      (originally proposed: <%= standard_date_time(my_proposal.created_at) %><%if my_proposal.created_at != my_proposal.updated_at%> and updated: <%= standard_date_time(my_proposal.updated_at) %><%end%>)
    <%end%>
    <br />
    <%= f.text_area :description, :cols=>70,:rows => 3 %>
    <%= f.hidden_field(:as)%>
    <%= f.hidden_field(:user_id)%>
    <%= f.hidden_field(:weal_id)%>
    <%= hidden_field_tag(:redirect,'/weals')%>
    <br />
    <%= f.submit(my_proposal.new_record? ? "Submit Proposal" : "Update Proposal") %>
    <% end %>
  <% end %>
  <% if !proposals.empty? %>
    <p>
    <b><%=proposals.size%> other proposal<%if proposals.size>1%>s<%end%>:</b><br/>
    <% for p in proposals %>
      From <%= link_to p.user.full_name,"/?user_id=#{p.user.id}"%>: <%= p.description%><br/>
    <% end %>
    </p>
  <% end %>
<% end %>
