<% @title= @proposed ? 'My Proposals' : 'My Intentions'%>
<%= render(:partial => 'sub_nav_intentions') %>

<div id="intention_tag_cloud">
	Tags: <%= render_weals_tag_cloud(:conditions => ['phase = "intention" and (offerer_id = ? or requester_id = ?)',current_user.id,current_user.id])%>
</div>
<% if @weals.empty? %>
  <%if @proposed%> You have made no proposals<%else%> You have no declared intentions<%end%> in <%=@current_circle.name%>.
<%else%>

View by: <span style="background: #ddd" title="this will be a pop up later to allow viewing by scope and in-service-of">role</span>
<table>
<tr>
  <th>&nbsp;</th>
  <th>Intention</th>
  <th>In service of</th>
  <th>Created</th>
  <th>Currencies</th>
  <th>Proposals</th>
  <th>&nbsp;</th>
</tr>
<%
display_type = ''
@weals = @weals.sort {|a,b| a.relation_to_user(current_user).to_s <=> b.relation_to_user(current_user).to_s}
i = 0;
for weal in @weals
  i+=1
  proposed = weal.offerer != current_user && weal.requester != current_user
  dt = weal.relation_to_user(current_user)
  %>
  <%
    if display_type != dt && dt
      i = 1
      display_type = dt %>
      <tr><td colspan=7 style="background: #ddd">AS <%= dt.upcase%></td></tr>
  <%end%>
<tr class="item<%= i%2 == 0 ? ' odd' : ''%>" style="margin: <%= weal.level==0 ? 5 : 0 %>px 0 0 <%= weal.level*20 %>px;">
  <td>&nbsp;</th>
  <td><%=link_to weal.title, proposed ? intention_path(weal) : edit_intention_path(weal),{:title=>weal.description} %> </td>
  <td><%=weal.humanize_in_service_of%></td>
  <td><%=standard_date(weal.updated_at)%></td>
  <td><%=humanize_currencies(weal.currencies)%></td>
  <td>
    <%if weal.matched? %>
      matched!
    <%elsif (c = weal.proposals.size) > 0%>
      <%= pluralize("proposal",c)%>
    <%end%>
  </td>
  
  <td>
  <% if weal.created_by == current_user%>
    (<%= link_to 'Delete', weal, :confirm => 'Are you sure?'+ (weal.children? ? " Warning: This intention has child-intentions, deleting it will delete all children." : ''), :method => :delete %>)
  <%end%>
  </td>
</tr>
<% end %>
</table>
<%end%>