<% @title='Intentions: Proposal' %>
<%= render(:partial => 'sub_nav_intentions') %>
<p>
  <b>Title:</b>
  <%=h @weal.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @weal.description %>
</p>
<p>
  <b>Is a requirement of: </b>
  <%= p = @weal.parent; h p.nil? ? '-none-' : p.title %>
<p>
  <%= render(:partial => 'proposal_form', :locals => { :party => :requester }) %>
  <%= render(:partial => 'proposal_form', :locals => { :party => :offerer }) %>

<%= render(:partial => 'discussion') %>

<%= link_to 'Back', weals_path %>

<%= link_to 'Edit', edit_weal_path(@weal) %>

