<p>
  <b>Title:</b>
  <%=h @weal.title %>
</p>

<p>
  <b>Phase:</b>
  <%=h @weal.phase %>
</p>

<p>
  <b>Description:</b>
  <%=h @weal.description %>
</p>
<p>
	<b>Is a requirement of: </b>
	<%= p = @weal.parent; h p.nil? ? '-none-' : p.title %>
<p>
	<%= render(:partial => 'proposal_form', :locals => { :party => :requester }) %>
	<%= render(:partial => 'proposal_form', :locals => { :party => :fulfiller }) %>

<%= link_to 'Back', weals_path %>

<%= link_to 'Edit', edit_weal_path(@weal) %>

