<% existing = @circle && !@circle.new_record?%>
<ul id="sub_nav">
  <%if !existing %>
    <li><%= sub_nav_link 'Browse', circles_path, 'List all circles' %>
    <% if current_user_can?(:circle) %>
    <li><%= sub_nav_link 'New',new_circle_path,'Create a new circle'%></li>
    <% end %>
  <% else%>
    <li><%= subtab('Overview',circle_path(@circle)) %></li>
    <%if @current_user_is_namer%>
      <li><%= subtab('Edit',edit_circle_path(@circle)) %></li>
      <li><%= subtab('Add Players',players_circle_path(@circle)) %></li>
      <li><%= subtab('Add Currencies',currencies_circle_path(@circle)) %></li>
      <li><%= subtab('Link Players to Currencies',link_players_circle_path(@circle)) %></li>
    <% end %>
  <%end%>
</ul>
<p class="clear">
