<% @title="Currencies in #{h @circle.name}" %>
<%= render(:partial => 'sub_nav') %>

<%= link_to 'Add Currency', new_currency_path(:circle => @circle.id) %>

<% if @bound_currencies.empty?%>
  <div> There are no currencies in this circle.</div>
<% else %>
<table id="currency_list">
  <tr>
    <th colspan=2>Name</th>
    <th>Type</th>
    <% if current_user_can?(:admin)%>
    <th>Steward</th>
    <%end%>
    <th>Description</th>
    <th>&nbsp;</th>
  </tr>

  <% i = 0
  for currency in @bound_currencies
    i+=1
    %>
    <tr class="<%= i%2 == 0 ? ' odd' : ''%>" >
      <td><%= render_currency_icon(currency,:size=>32) %></td>
      <td><%= link_to currency.name, edit_currency_path(currency)+'?currency_type='+currency.class.to_s %> </td>
      <td><%=h currency.humanized_type %> </td>
      <% if current_user_can?(:admin)%>
      <td><%=currency.steward.full_name%></td>
      <%end%>
      <td><%=h currency.description%></td>
      <td><% if (currency.steward == current_user)||current_user_can?(:admin) %> <%= link_to 'Remove', currency_path(currency), :confirm => 'Are you sure?', :method => :delete %><%else%>&nbsp;<%end%></td>
    </tr>
  <% end %>
</table>
<%end%>
