<% @title="Currencies in #{h @circle.name}" %>
<%= render(:partial => 'sub_nav') %>

<% form_tag(currencies_circle_url(@circle),:method => :get, :id => 'search_form') do -%>
  <%= text_field_tag('search[key]',@search_params['key'])%>
  <%= submit_tag('Search') %>
<% end %>


<%= error_messages_for('circle') %>
<% form_tag(set_currencies_circle_url(@circle), :method=>:put) do -%>
<div id="circle_currencies">
  <% if @bound_currencies.empty?%>
    <div id="bound-currencies-header"> There are no currencies in this circle.</div>
  <% else %>
    <div id="bound-currencies-header">
      <b>Currencies in <%=h @circle.name %>:</b><br />
      <%= submit_tag('<< Remove') %>
    </div>
    <table>
    <tr>
      <th>Currency</th>
    </tr>
    <% for currency in @bound_currencies%>
      <tr>
        <td title="<%=currency.description%>">
          <%= check_box_tag("bound_currencies[#{currency.id}]") %>
          <%=  label_tag "currencies_bound_#{currency.id}","#{currency.name}"%>
        </td>
      </tr>
    <% end %>
    </table>
    <%= will_paginate @bound_currencies if @paginate_bound_currencies%>
  <% end %>
</div>

<%if @currencies.empty?%>
  <div id="search-results-header">No currencies found</div>
<%else%>
  <div id="search-results-header">Search found <%= pluralize("currency", @currencies.size) %>
    <br />
    Bind selected currencies to circle
    <%= submit_tag('Add >>') %>
  </div>
  <div id="circle_currencies_search_results">
  <table>
  <tr>
    <th>Currency</th>
    <th>Description</th>
  </tr>
  <% for currency in @currencies%>
    <tr>
      <td>
      <%= check_box_tag("currencies[#{currency.id}]") %>
      <%=  label_tag "currencies_#{currency.id}","#{currency.name} (#{currency.humanized_type})"%></td>
      <td> <%= h currency.description%></td>
    </tr>
  <% end %>
  </table>
  <%= will_paginate @currencies%>
  </div>
<% end %>

<%end%>
