<h1>Editing circle</h1>

<% form_for(@circle) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @circle %> |
<%= link_to 'Back', circles_path %>
