<% @title='Circles: Edit' %>
<%= render(:partial => 'sub_nav') %>

<p>
  Name: <%=@circle.name%>
</p>

<% form_for :circle, :url => { :action => "update", :id => @circle.id },:html => { :method => :put}  do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :description %> (this will be WYSIWG soon)<br />
    <%= f.text_area :description, :cols=>70,:rows => 10 %>
  </p>
  <p>
    <%= f.label :icon_url %><br />
    <%= f.text_field :icon_url %>
  </p>
  
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
