<% @title='Circles' %>
<%= render(:partial => 'sub_nav') %>

<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>

<% i = 0
for circle in @membranes 
  i+=1
  is_matrice = circle.api_user_isa?(current_user,'matrice')
%>
  <tr class="<%= i%2 == 0 ? ' odd' : ''%>">
    <td><%= render_currency_icon(circle,20) %></td>
    <td> <%=link_to circle.name, is_matrice ? edit_circle_path(circle) : circle_path(circle)  %></td>
    <td> <% if is_matrice %>
      <%= link_to 'Players', players_circle_path(circle)%>
      &nbsp;&nbsp;
      <%= link_to 'Delete', "/circles/#{circle.id}", :confirm => 'Are you sure?', :method => :delete %>
      <%else%>&nbsp;<%end%>
    </td>
  </tr>
<% end %>
</table>
