<% @title='Circles' %>
<%= render(:partial => 'sub_nav') %>

<%if  @membranes.empty?%>
  There are no circles defined yet.
<%else%>
  <table>
  <% i = 0
  for circle in @membranes 
    i+=1
    is_namer = circle.api_user_isa?(current_user,'namer')
  %>
    <tr class="<%= i%2 == 0 ? ' odd' : ''%>">
      <td><%= render_currency_icon(circle) %></td>
      <td> <%=link_to circle.name, is_namer ? edit_circle_path(circle) : circle_path(circle)  %></td>
      <td> <% if current_user_can?(:circle) && is_namer %>
        <%= link_to 'Add Players', players_circle_path(circle)%>
        &nbsp;&nbsp;
        <%= link_to 'Currencies', currencies_circle_path(circle)%>
        &nbsp;&nbsp;
        <%= link_to 'Link Players to Currencies', link_players_circle_path(circle)%>
        &nbsp;&nbsp;
        <%= link_to 'Delete', "/circles/#{circle.id}", :confirm => 'Are you sure?', :method => :delete %>
        <%else%>&nbsp;<%end%>
      </td>
    </tr>
  <% end %>
  </table>
<%end%>