<% @title="Link Players in #{h @circle.name}" %>
<%= render(:partial => 'sub_nav') %>

<% form_tag(link_players_circle_url(@circle),:method => :get, :id => 'search_form') do -%>
  <%= text_field_tag('search[key]',@search_params['key'])%>
  <%=check_box_tag('search[paginate]','yes',@search_params[:paginate]=='yes') %> <%= label_tag('search[paginate]', 'Paginate results')%>
    <input id='search[paginate]' name='search[paginate]' type='hidden' value='no' />
  <%= submit_tag('Search') %>
<% end %>

<% form_tag(set_link_players_circle_url(@circle), :method=>:put) do -%>
<%if @users.empty?%>
  <div id="search-results-header">No users found</div>
<%else%>
  <div id="search-results-header">Search found <%= pluralize("user", @total_users) %>
  
  <%= error_messages_for('circle') %>
  <br />
    <%= submit_tag('Link') %>
    <%= submit_tag('Unlink') %>

  </div>
  <div id="circle_currencies">
    <table id="circle_currency_roles">
    <tr>
      <th>Currency Roles</th>
    </tr>
    <tr><td>
  <% @bound_currencies.each do |c| %>
      <p id="currency_<%=c.name_as_html_id%>">
      <%= render_currency_icon(c,:size=>16)%> 
      <%= c.name %>
      <% c.api_player_classes.each do |pc| %>
        <li><%= the_id = "currencies[#{c.id}][#{pc}]"; check_box_tag(the_id) %> <%= label_tag the_id,pc %> </li>
      <% end %>
      </p>
    <%end%>
    </td></tr></table>
  </div>

  <div id="circle_users_search_results">
  <table>
  <tr>
    <th>Player</th>
  </tr>
  <% for user in @users%>
    <tr>
      <td id="<%=user.user_name%>">
      <%= check_box_tag("users[#{user.id}]") %>
      <%=  label_tag "users_#{user.id}","#{user.full_name} (#{user.user_name})" %>
      <% 
        h = {}
        user.currency_accounts_in_circle(@circle).each do |ca|
          h[ca.currency.name] ||= []
          h[ca.currency.name] << ca
        end
      %>
      <% if h.size > 1%>
        <% @bound_currencies.each do |c| %>
          <% if h[c.name] %>
            <li>
              <%= render_currency_icon(c,:size=>16)%>  <% c.name %>: (<%= h[c.name].collect{|ca| ca.player_class}.join(', ') %>)
            </li>
          <% end %>
        <% end %>
      <% else%>
      <li><i>not linked to any currencies</i></li>
      <% end %>
      </td>
    </tr>
  <% end %>
  </table>
  <%= will_paginate(@users,:per_page => 5)  if @paginate_users%>
  </div>
  <%end%>
<% end %>