<% @title='Circles: New' %>
<%= render(:partial => 'sub_nav') %>

<% form_for :circle, :url => { :action => "create" }  do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %> (this will be WYSIWG soon)<br />
    <%= f.text_area :description, :cols=>70,:rows => 10 %>
  </p>
  <p>
    <%= f.label :icon_url %><br />
    <%= f.text_field :icon_url %>
  </p>
  
  <p>
    The login name for the circle user account will be: <b> [live-update-from-name-goes-here]_cricle </b> <br />
    <%= label_tag :password,"Password:" %><%= password_field_tag(:password)%> <br />
    <%= label_tag :confirmation,"Confirm Password:" %><%= password_field_tag(:confirmation)%> <br />
    <%= label_tag :email,"Email:" %><%= text_field_tag(:email, params[:email] ? params[:email] : current_user.email)%>
  </p>
  
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', circles_path %>
