<% @title="Circles: #{h @circle.name}" %>
<%= render(:partial => 'sub_nav') %>

<p>
Description: <%=h @circle.description %>
</p>
<p>
Agreement: <%=h @circle.agreement %>
</p>
<p>
Members:

<% for a in @circle.currency_accounts %>
  <br />&nbsp;&nbsp;&nbsp;<%= h a.user.full_name %> (<%= h a.name %>) <%= a.player_class == 'matrice' ? '-- matrice' : ''%> 
<% end %>
</p>
