<%
global_banner = !Configuration.get(:global_banner).blank? && !session[:banner_closed]
left_banner = !Configuration.get(:left_banner).blank? && !session[:left_banner_closed]
%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>
			<%=configuration_text(:site_name)%><%= @title ? ": #{@title}" : '' %>
		</title><%= stylesheet_link_tag 'project', :media => "all" %><%= stylesheet_link_tag 'table', :media => "screen" %><%= stylesheet_link_tag 'project-print', :media => "print" %><%= javascript_include_tag :defaults %>
	</head>
	<% if Configuration.get(:analytics)%><%= Configuration.get(:analytics)%><%end%>
	<%= %Q*<body #{"class='enlargeFont'" if current_user.has_preference('enlargeFont')}>* %>
	  <%if global_banner%><div id="global_banner"><%if logged_in?%>
	    <%= image_tag 'close.png', :size =>'16x16',:class=>"clickable float_right", :title => 'Click here to close this box', :onclick => "new Effect.SlideUp($('global_banner'), { duration: .6 });location.href = '/close_banner'"%><%end%>
	    <%=Configuration.get(:global_banner)%></div><%end%>
		  <div id="flowplace_bar">
  			<div id="login_stuff">
  				<% if logged_in? %> 
  				<%= gravitar_image_tag(current_user,:size=>20) %>
  				<div id="login_links">
  				<%= link_to 'Preferences',set_prefs_url,{:title =>'Choose how the site works for you'}%>
  				<%= link_to 'Log Out',logout_url,{:title => 'End your session'}%>
  				</div>
  				<% else %>
  					<%= link_to 'Log In',login_url,{:title => 'Log in'}%>
  				<% end %>
  			</div>
				<a href="/dashboard?current_circle="><img class='logo' src="/images/logo.png" height="28" width="28" alt="logo"><img height="28" class='logo' src="/images/logo_txt.jpg" alt="<%=configuration_text(:site_name)%>"></a>
		  </div>

			<div id="top_bar">
				<div class='wrap_to_center'>
				<div id="header">
				  <%if @current_circle.nil? %>
			       <div id='circle_header'><img id='circle_logo' src="/images/logo.png" height="35" width="35" alt="logo"><div id='circle_header_name'><%=configuration_text(:site_name)%></div></div>
			      <% if logged_in? %>
			      <div id="circle_jump_select"><%= my_circles_jump_select %></div>
    				<%= render(:partial => 'shared/nav_flowplace') %>
			      <%end%>
				  <%else%>
				    <div id='circle_header'><%= render_currency_icon(@current_circle,:size =>35,:id=>"circle_logo")%><div id='circle_header_name'><%=@current_circle.name%></div></div> <div id="circle_jump_select"><%= my_circles_jump_select %> </div>
					  <%= render(:partial => 'shared/nav') %>
				  <%end%>
				</div>
				</div>
			</div>
			<div class='wrap_to_center'>
        <div id="page_content">
          <%if flash[:notice] %><div id='notice'><%=notice(flash[:notice],flash[:notice_param])%>
            <%= image_tag 'close.png', :size =>'16x16',:class=>"clickable float_right", :title => 'Click here to close this box', :onclick => "new Effect.SlideUp($('notice'), { duration: .6 })"%> 
            </div><%end%>
          <%if flash[:action_error] %><div id='action_error'><%=action_error(flash[:action_error])%></div><%end%>
          <%= yield  %>
        </div>
				<div id="footer">
					<span class="float_left"><%= Configuration.get(:footer)%></span>
				</div>
			</div>
		<p>
			<iframe style="height:0px;width:0px;visibility:hidden" src="about:blank">This frame prevents back forward cache in Safari.</iframe> <%= 
			javascript_tag <<-EOJS
			var first_focus = $$('.first_focus');
			if (first_focus.length > 0) {first_focus[0].focus()};
			EOJS
			%>
		</p>
	</body>
</html>
